/* Grundlayout */
body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    display: flex;
}

/* Sidebar links */
.sidebar {
    width: 200px;
    background-color: #006400
    min-height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 20px;
    box-sizing: border-box;
}

.sidebar nav a {
    display: block;
    color: #fff; /* weiße Schrift */
    text-decoration: none;
    padding: 12px 20px;
    font-weight: bold;
}

.sidebar nav a:hover {
    background-color: #555;
}

/* Hauptinhalt rechts von Sidebar */
.content {
    margin-left: 200px; /* gleiche Breite wie Sidebar */
    padding: 20px;
}

/* Teaser & Buttons */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #006400;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.button:hover {
    background-color: #555;
}

/* Tierbilder & Overlay */
.tier {
    position: relative;
    margin-bottom: 30px;
}

.tier img {
    width: 100%;
    height: auto;
    display: block;
}

.overlay-text {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: #fff;
    background-color: rgba(0,0,0,0.5);
    padding: 8px 12px;
    border-radius: 5px;
}
